<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">


<style>
  .container{
    font-size: 200px;
    text-align: center;
    margin-left: -20px;
    margin-top: -30px;
  }


</style>

<div class="container">

  <i class="fa fa-check-circle item"></i>

</div>
