<style>
.container{
    background-color: #3F484A;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    align-content: center;
    padding-top: 60px;
    text-align: center;
    font-family: OpenSans-Light, Helvetica, Arial, sans-serif;
    letter-spacing: 2px;
    font-weight: lighter;
}

    .box{
        background-color: black;
        padding: 8px;
        font-size: 27px;
        margin: 2px;
        box-shadow: 2px 2px grey;
        margin:3px;
    }

    .text{
        font-size: 40px;
        background-color: inherit;
        text-align: left;
        padding:0 0 8px 2px;
    }
    .text:first-child{
        width: 100%;
    }

    .box:nth-child({{selected}}){
        border: 1px solid black;
        animation: blink .5s step-end infinite alternate;
    }

    @keyframes blink {
       50% { border-color: #FACCE0; }
    }

</style>


<div class="container">
    <div class="box">{{day}}</div>
    <div class="box">{{monthName}}</div>
    <div class="box">{{year}}</div>
</div>

